@model IEnumerable<rise.Models.Log>
@using rise.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    <!--Initialize Data Table-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#logTable').DataTable({
                "fixedHeader": true,
                "pageLength": 100,
                "scrollCollapse": true,
                "order": [[8, "desc"]],
                "autoWidth": true,
                responsive:
                {
                    details:
                    {
                        type: 'column',
                        target: -1
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: -1
                }]
            });
        });
    </script>
}

<br />
<!--Content Wrapper.Contains page content-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3><img src="@Url.Content("~/img/"+ AppSettingsProvider.CoinName.ToLower() + ".png")" alt="@(AppSettingsProvider.CoinName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="30" />@(AppSettingsProvider.CoinName) Logs</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Logs</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section class="content">
        <!-- Start Transactions Table-->
        <!-- Main content -->
        <div class="row">
            <div class="col-12">
                <div class="box card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="logTable" class="table display dt-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Message)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderByDescending(x => x.Date).Take(300))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Message)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>