@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using rise.Models
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

@model rise.Models.ApplicationUser

@{
    ViewData["Title"] = "RISE Play!";
}

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Member")))
{
    @section Scripts
        {
        <script src="~/js/roulette.js"></script>
        <script type="text/javascript">

            GetBalance();

            $(document).ready(function () {
                GetBalance();
            });

            $('#UserListTransactions').load('@Url.Action("GetUserListTransactionsPartialView", "Play")');

            function CreateDrawAjax() {
                var result = "";
                $.ajax({
                    url: '/Play/CreateDraw',
                    type: "POST",
                    data: { __RequestVerificationToken: $('#RequestVerificationToken').val() },
                    error: function (xhr) { alert('Error: ' + xhr.statusText); },
                    async: false,
                    success: function (data) {
                        result = jQuery.parseJSON(data);
                    }
                });
                return result;
            }

            function GetBalance() {
                var result = "";
                $.ajax({
                    url: '/Play/GetUserBalance',
                    type: "POST",
                    data: { __RequestVerificationToken: $('#RequestVerificationToken').val() },
                    error: function (xhr) { alert('Error: ' + xhr.statusText); },
                    success: function (data) {
                        if (data.balance < 3) {
                            $('.start').attr('disabled', 'true');
                            $('#userbalance').html('<h3><span class="badge badge-pill badge-warning"> Sorry you need Min 3 RISE to Spin</span></h3>');
                        }
                        else {
                            $('#userbalance').html('<h3><span class="badge badge-pill badge-success">' + data.balance + ' RISE</span></h3>');
                        }
                    }
                });
            }

            $(function () {

                $('.roulette').find('img').hover(function () {
                    console.log($(this).height());
                });

                var p = {

                    startCallback: function () {
                        var myresult = CreateDrawAjax();
                        p['speed'] = 8;
                        p['duration'] = 2;
                        p['stopImageNumber'] = myresult.WinNumber;
                        rouletter.roulette('option', p);
                        rouletter.roulette.AmountToPay = myresult.AmountToPay;
                        $('#textstatus').html('<h3>Spinning...</h3>');
                        $('#stopImageNumber').spinner('disable');
                        $('.start').attr('disabled', 'true');
                        $('.stop').removeAttr('disabled');
                    },

                    slowDownCallback: function () {
                        $('.stop').attr('disabled', 'true');
                    },

                    stopCallback: function ($stopElm) {
                        if (rouletter.roulette.AmountToPay < 0) {
                            $('#textstatus').html('<h2><img src="images/lose.png" width="50" />&nbsp;<span class="badge badge-pill badge-warning">' + rouletter.roulette.AmountToPay + ' </span> HOdl</h1>');
                        }
                        else {
                            $('#textstatus').html('<h1><img src="images/win.png" width="50" /> &nbsp;<span class="badge badge-pill badge-success">+' + rouletter.roulette.AmountToPay + ' </span> HOdl</h1>');
                        }

                        $('#UserListTransactions').load('@Url.Action("GetUserListTransactionsPartialView", "Play")');
                        $('#stopImageNumber').spinner('enable');
                        $('.start').removeAttr('disabled');
                        $('.stop').attr('disabled', 'true');

                        GetBalance();
                    }
                }

                var rouletter = $('div.roulette');
                rouletter.roulette(p);

                $('.stop').click(function () {
                    var stopImageNumber;
                    if (stopImageNumber == "") {
                        stopImageNumber = null;
                    }
                    rouletter.roulette('stop');
                });

                $('.stop').attr('disabled', 'true');

                $('.start').click(function () {
                    rouletter.roulette('start');
                });
            });

        </script>
    }
}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><img src="@Url.Content("~/img/"+ AppSettingsProvider.CoinName.ToLower() + ".png")" alt="@(AppSettingsProvider.CoinName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />@(AppSettingsProvider.CoinName) Play!</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Play</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section>

        @if (!SignInManager.IsSignedIn(User) || User.IsInRole("Guest"))
        {
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <br /><br /><br /><br /><br />
                <br />

                @if (User.Identity.Name != null)
                {
                    <br /><br /><br />
                    <h2>
                        <span class="text-warning"> @User.Identity.Name the site is only available on invite.</span>
                    </h2>
                }
                else
                {
                    <h2>
                        RisePlay (Beta Testing)
                    </h2>
                    <br />
                    <p class="lead">
                        <br />
                        <h2> <span class="text-warning">At this moment Riseplay is only available on invite.</span></h2>
                    </p>
                }
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 text-center">
                        <div class="row">
                            <div class="roulette_container mx-auto">
                                <div class="roulette" style="display: none;">
                                    <img data-value="0" src="~/images/loose1.png" />
                                    <img data-value="1" src="~/images/loose2.png" />
                                    <img data-value="2" src="~/images/loose3.png" />
                                    <img data-value="3" src="~/images/loose4.png" />
                                    <img data-value="4" src="~/images/win1.png" />
                                    <img data-value="5" src="~/images/win2.png" />
                                    <img data-value="6" src="~/images/win3.png" />
                                    <img data-value="7" src="~/images/win4.png" />
                                </div>
                            </div>
                        </div>
                        <div class="btn_container mt-4">
                            <p>
                                <button class="btn btn-lg btn-primary start"> START </button>
                                <button class="stop btn-lg btn btn-warning"> STOP </button>
                            </p>
                        </div>
                        <div class="container-fluid text-center">
                            <h1 id="textstatus"></h1>
                        </div>
                        <div class="container-fluid text-center">
                            <h1 id="userbalance"></h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4><span class="text-info">How to fund your account?</span></h4>

                        <p class="text-sm-left">
                            Simply by using your Telegram Wallet! or send RISE to your TIP address <b>@ViewBag.OnlineWallet</b>.
                        </p>

                        <h4><span class="text-info">Price to Win</span></h4>

                        <p><img src="~/images/win1.png" width="45" /> &nbsp;<span class="badge badge-pill badge-default">2</span> RISE</p>
                        <p><img src="~/images/win2.png" width="45" /> &nbsp;<span class="badge badge-pill badge-default">4 </span> RISE</p>
                        <p><img src="~/images/win3.png" width="45" />&nbsp;<span class="badge badge-pill badge-default">6</span> RISE</p>
                        <p><img src="~/images/win4.png" width="45" />&nbsp;<span class="badge badge-pill badge-default">50</span> RISE</p>
                    </div>

                    <div class="col-lg-3">
                        <h4><span class="text-info">Transactions</span></h4>

                        <!-- /.direct-chat-msg -->
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name float-left">Jeff Built</span>
                                <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="/img/oregonpop.jfif" alt="message user image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                WIN <b>50</b> RISE tx:<a htref="http://explorer.rise.vision">423432142314321</a>
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->
                </div>

            </div>
        }
    </section>
</div>
