@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using rise.Models
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

@model rise.Models.ApplicationUser

@{
    ViewData["Title"] = "Rise Play Page";
}

<link rel="stylesheet" href="@Url.Content("~/css/odometer-theme-slot-machine.css")" />

<style>
    .odometer {
        font-size: 100px;
    }
</style>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Member")))
{
    @section Scripts
        {
        <script src="@Url.Content("~/js/odometer.min.js")"></script>

        <script type="text/javascript">

            <script>$.fn.slider = null</script>

            GetBalance();

            $(document).ready(function () {
                GetBalance();

               
            });

            $('#UserListTransactions').load('@Url.Action("GetUserListTransactionsPartialView", "Play")');

            function CreateDrawAjax() {
                var result = "";
                $.ajax({
                    url: '/Play/CreateDraw',
                    type: "POST",
                    data: { __RequestVerificationToken: $('#RequestVerificationToken').val() },
                    error: function (xhr) { alert('Error: ' + xhr.statusText); },
                    async: false,
                    success: function (data) {
                        result = jQuery.parseJSON(data);
                    }
                });
                return result;
            }

            function GetBalance() {
                var result = "";
                $.ajax({
                    url: '/Play/GetUserBalance',
                    type: "POST",
                    data: { __RequestVerificationToken: $('#RequestVerificationToken').val() },
                    error: function (xhr) { alert('Error: ' + xhr.statusText); },
                    success: function (data) {
                        if (data.balance < 1) {
                            $('#CashOut').html('');
                            $('.start').attr('disabled', 'true');
                            $('#userbalance').html('<h3><span class="badge badge-pill badge-warning"> Need Min 1 RISE to Spin</span></h3>');
                        }
                        else {
                            $('#userbalance').html('<h3><span class="badge badge-pill badge-success">' + data.balance + ' RISE</span></h3>');
                            $('#CashOut').html('<h4><span class="text-info">Cash Out your RISE</span></h4><p class="text-sm-left">Any time you can cash out by Clicking <a href="/Home/CashOut" class="badge badge-pill badge-default">Here</a> you will need to provide your own wallet address.</p>');
                        }
                    }
                });
            }

            setTimeout(function(){
                odometer1.innerHTML = 50;
            }, 1000);

             $('#ex1').slider({
                    formatter: function (value) {
                        odometer2.innerHTML = 50;
                        return 'Current value: ' + value;
	                }
             });

        </script>
    }
}

<div class="content-wrapper">
    <section class="content">
        @if (!SignInManager.IsSignedIn(User) || User.IsInRole("Guest"))
        {
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <br /><br /><br /><br /><br />
                <img src="~/images/hodlplay.svg" alt="riseplay" class="img-fluid" width="700" />
                <br />

                <h2>
                    RisePlay (Beta Testing)
                </h2>
                <br />
                <br /><br />

                @if (User.Identity.Name != null)
                {
                    <p class="lead">
                        <h2>
                            <span class="text-warning"> Sorry @User.Identity.Name the site is only available on invite.</span>
                        </h2>
                    </p>
                }
                else
                {
                    <p class="lead">
                        <br />
                        <h2> <span class="text-warning">At this moment RisePlay is only available on invite.</span></h2>
                    </p>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-4">
                    <div id="odometer1" class="odometer">00</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div id="odometer1" class="odometer">50</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input id="ex1" type="text" data-slider-min="4" data-slider-max="96" data-slider-step="1" data-slider-value="50" />
                </div>
            </div>
        }
    </section>
</div>

