@using rise.Models
@model rise.Models.Delegate

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3><img src="@Url.Content("~/img/"+ AppSettingsProvider.CoinName.ToLower() + ".png")" alt="@(AppSettingsProvider.CoinName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="30" />@(AppSettingsProvider.CoinName) Dashboard</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">About</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="col-lg-12">
                <div class="box card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <h5>Hi!</h5>
                                <p>
                                    Thank you for visiting my Dashboard, I am Dwildcash a sysadmin/devops for a large cloud company in Canada. My specialty
                                    is Building/Managing/Automating private and public Cloud infrastructure.  I also love blockchain technologies.
                                    Talking about blockchain I found few weeks ago a nice DPOS Project... <b> <a ref="https://rise.vision/">@(AppSettingsProvider.CoinName)!</a></b>. I love the ideas and features behind this project.
                                    That is why I decided to help by building this dashboard and a Telgram Tip bot (RiseStar). also I give my help and try to fix little things on the official git repository.
                                </p>

                                <p>I also love the great community around <b>RISE!</b>. A lot of people who helped me by contributing votes or bounty!... You will find me hanging around Telegram or Slack channel under nickname Dwildcash</p>

                                <p>
                                    It is always fun to receive contribution so if you like what I am doing, you can send me some @(AppSettingsProvider.CoinName) at the following address <b><a href="@(AppSettingsProvider.CoinExplorer)/address/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer">@(AppSettingsProvider.DonationAddress)</a></b>
                                    you can also participate by voting for delegate <b><a href="@(AppSettingsProvider.CoinExplorer)/delegate/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer"> Dwildcash</a></b>
                                </p>
                                <p>
                                    Thanks all for your votes!
                                    <br /><img src="@Url.Content("~/img/dwild2.png")" width="125" />Thank you in advance! -- <a href="@(AppSettingsProvider.CoinExplorer)/address/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer">Dwildcash </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>