@using rise.Models
@using rise.Code.Rise
@model rise.Models.Delegate

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>About Dwildcash..</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-lg-12">
            <div class="box card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5>Hi!</h5>
                            <p>
                                Thank you for visiting my Dashboard, I am Dwildcash a sysadmin/devops for a large cloud company in Canada. My specialty
                                is Building/Managing/Automating private and public Cloud infrastructure.  I also love blockchain technologies.
                                Talking about blockchain I found few weeks ago a nice DPOS Project... <b> <a ref="https://rise.vision/">@(AppSettingsProvider.CoinName)!</a></b>. I love the ideas and features behind this project.
                                That is why I decided to help by building this dashboard and a Telgram Tip bot (RiseStar). also I give my help and try to fix little things on the official git repository.
                            </p>

                            <p>I also love the great community around <b>RISE!</b>. A lot of people who helped me by contributing votes or bounty!... You will find me hanging around Telegram or Slack channel under nickname Dwildcash</p>

                            <p>
                                It is always fun to receive contribution so if you like what I am doing, you can send me some @(AppSettingsProvider.CoinName) at the following address <b><a href="@(AppSettingsProvider.CoinExplorer)/address/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer">@(AppSettingsProvider.DonationAddress)</a></b>
                                you can also participate by voting for delegate <b><a href="@(AppSettingsProvider.CoinExplorer)/delegate/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer"> Dwildcash</a></b>
                            </p>
                            <p>
                                Below are peoples who helped with Tip/Votes.. If you voted for me and your name is not below please contact me on telegram (Dwildcash)
                                <br /><img src="@Url.Content("~/img/dwild2.png")" width="125" />Thank you in advance! -- <a href="@(AppSettingsProvider.CoinExplorer)/address/@(AppSettingsProvider.DonationAddress)" target="_blank" rel="noopener noreferrer">Dwildcash </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/alty.png")" alt="Alty">
                            </div>
                            <h3 class="profile-username text-center">Alty</h3>
                            <p class="text-muted text-center">Thanks Alty for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/oregonpop.jfif")" alt="Jeff">
                            </div>
                            <h3 class="profile-username text-center">Jeff Built</h3>
                            <p class="text-muted text-center">Thanks Jeff!! for all you contributions</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/cor00.jfif")" alt="Cordi">
                            </div>
                            <h3 class="profile-username text-center">Cor Di Leone</h3>
                            <p class="text-muted text-center">Thanks for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/showrulz.png")" alt="showrulz">
                            </div>
                            <h3 class="profile-username text-center">Showrulz</h3>
                            <p class="text-muted text-center">Merci pour tes votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/serge.png")" alt="Serge">
                            </div>
                            <h3 class="profile-username text-center">Serge</h3>
                            <p class="text-muted text-center">Thanks for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/rise.png")" alt="Lokesh">
                            </div>
                            <h3 class="profile-username text-center">Lokesh</h3>
                            <p class="text-muted text-center">Community Manager, thanks for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/dvl.png")" alt="Lokesh">
                            </div>
                            <h3 class="profile-username text-center">Dietrich von Lagusowil</h3>
                            <p class="text-muted text-center">Thanks for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <!-- Profile Contributor -->
                    <div class="box card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/img/ds.png")" alt="DaveSibley">
                            </div>
                            <h3 class="profile-username text-center">Dave Sibley</h3>
                            <p class="text-muted text-center">Thanks for your votes!</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>