@using System.Net.Sockets
@using rise.Models
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = AppSettingsProvider.CoinName + " Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@(AppSettingsProvider.CoinName) Dashboard</title>

@{
    string cookieValueFromContext = HttpContextAccessor.HttpContext.Request.Cookies["addr"];
    string Address = null;

    if (!String.IsNullOrEmpty(ViewBag.SearchText))
    {
        Address = ViewBag.SearchText;

    }
    else if (cookieValueFromContext != null)
    {
        Address = cookieValueFromContext;
    }
}

@section Scripts
    {
    <script type="text/javascript">
        $('#AccountSummary').load('@Url.Action("AccountSummary", "Home")?address=@Address');
        $('#QuoteView').load('@Url.Action("QuotePartialView", "Home")');

        @if (SignInManager.IsSignedIn(User))
        {
            <text>
            $('#TipAccountSummary').load('@Url.Action("AccountSummaryTipBotPartialView", "Home")');
            </text>
        }
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3><img src="@Url.Content("~/img/"+ AppSettingsProvider.CoinName.ToLower() + ".png")" alt="@(AppSettingsProvider.CoinName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="30"/>@(AppSettingsProvider.CoinName) Dashboard</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
   
    <section class="content">
        <div id="QuoteView"></div>
    </section>

    @if (SignInManager.IsSignedIn(User))
    {
        <section class="content">
            <div id="TipAccountSummary"></div>
        </section>
    }

    <section class="content">
        <div id="AccountSummary"></div>
    </section>
</div>

<br />

<script src="~/js/signalr.min.js"></script>
<script src="~/js/NotificationUpdateTitle.js"></script>